{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<style>
    .h-80 {
        height: 80% !important;
    }
</style>
<<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% if validlink %}
    <!------ Include the above in your HEAD tag ---------->

    <div class="container h-80">
    <br /><br />
        <div class="row align-items-center h-100">
            <div class="col-3 mx-auto">
                <div style="margin-left: -7rem;width: 18rem;" class="text-center">
                    <h3>Set a new Passsword</i></h3>
                    <form  method="POST" class="form-signin">{% csrf_token %}

                        {{ form.as_p }}

                        <button class="btn btn-md btn-primary" type="submit">Change password</button>
          
                    </form><!-- /form -->
                </div>
            </div>
        </div>
    </div>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
<br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}