{% extends 'base.html' %}


{% block content %}
<style>
    body,
    html {
        background-image: url('https://i.imgur.com/xhiRfL6.jpg');
        height: 100%;
    }
    .container{
        color: peachpuff;
    }
</style>
<div class="container" style="text-align:center;">
    <br /><br /><br />
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been reset. You can sign in now.</p>
        <a href="/">Home</a>
	</div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}